<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063111121990-l56s8brh8vckq7q47tcitphth83qvqmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063111121990-l56s8brh8vckq7q47tcitphth83qvqmb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063111121990-1gv0tbfqjs5e6pp3qddtuqmqjbcfop78.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeAs6I_mRCFrbtjT7yK0MyRb_Lym0cr5g</string>
	<key>GCM_SENDER_ID</key>
	<string>1063111121990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-1cf19</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-1cf19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063111121990:ios:edb231ff9bd7af10babe47</string>
</dict>
</plist>